* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background: linear-gradient(to bottom, #9ba9eb, #c3caea);
  height: 100vh;
  padding: 20px 50px;
}

.logo-styles {
  width: 200px;
  margin: 10px 0px;
}
